.wrapper {
  display: flex;
  overflow-x: auto;
  width: 200px;
  text-align: center;
  justify-content: center;
}

/* .wrapper::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} */

.recomendation-card {
  height: fit-content;
  min-width: 100px;
  display: flex;
}

.recomendation-image {
  width: 100px;
}

.recommendation-title {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  text-align: center;
  background-color: sandybrown;
}
