.wrapper {
  display: flex;
  overflow-x: auto;
  width: 200px;
  text-align: center;
  margin-left: 15px;
}

.wrapper::-webkit-scrollbar {
  width: 0px;
}

.recomendation-card {
  height: fit-content;
  width: fit-content;
  margin-right: 12px;
  border: 0.2em solid saddlebrown;
}

.recomendation-image {
  width: 100px;
  margin-bottom: -04px;
}

.recommendation-title {
  font-size: 1.25em;
  margin-bottom: 0.5em;
  text-align: center;
  background-color: sandybrown;
}
