.wrapper {
  display: flex;
  margin-left: 15px;
  overflow-x: auto;
  text-align: center;
  width: 200px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.recomendation-card {
  border: 0.2em solid saddlebrown;
  height: fit-content;
  margin-right: 12px;
  width: fit-content;
}

.recomendation-image {
  margin-bottom: -04px;
  width: 100px;
}

.recommendation-title {
  background-color: sandybrown;
  font-size: 1.25em;
  margin-bottom: 0.5em;
  text-align: center;
}
